<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  <div>
    <%= form.label :preparation_time, style: "display: block" %>
    <%= form.text_field :preparation_time, class: 'form-control' %>
  </div>
  <div>
    <%= form.label :cooking_time, style: "display: block" %>
    <%= form.text_field :cooking_time, class: 'form-control' %>
  </div>
  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>
  <div class="switch-wrap d-flex justify-content-start align-items-center" style="margin-top: 20px;">
    <%= form.label :public, style: "display: block" %>
    <span style="align-self: baseline;margin-left: 10px;">
      <%= form.check_box :public %>
    </span>
  </div>
  <div>
    <%= form.submit "Create", class: "button button-contactForm btn_4 boxed-btn" %>
  </div>
<% end %>
