<div id="<%= dom_id recipe %>">
  <p>
    <%# <strong>Name:</strong> %>
    <%= recipe.name %>
  </p>

   <%= button_to "Destroy this recipe", @recipe, method: :delete %>
  <%# <p>
    <strong>Preparation time:</strong>
    <%= recipe.preparation_time %>
  <%# </p>  %>
  <%# <p>
    <strong>Cooking time:</strong>
    <%= recipe.cooking_time %>
  <%# </p> %> 
  <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>
  
</div>
