<div id="<%= dom_id recipe %>">
  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>
  <div class="d-flex justify-content-between p-5">
  <p>
    <strong>Preparation time:</strong>
    <%= recipe.preparation_time %>
  </p>
  <p>
    <strong>Public:</strong>
    <%= recipe.public %>
    <label class="switch">
    <input type="checkbox" checked>
    <span class="slider round"></span>
  </label>
  </p>
  </div>
  <div class="text-left ml-5">
  <p>
    <strong>Cooking time:</strong>
    <%= recipe.cooking_time %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>
 </div>
</div>
