<div class="container-fluid text-center p-5">
<p style="color: green"><%= notice %></p>
 <% @recipes.each do |recipe| %>
<h1>Recipe :<%= recipe.name %></h1>
<div id="recipes">
 
    <%= render recipe %>
    <p>
      <%= link_to "Show this recipe", recipe %>
    </p>
  <% end %>
</div>
<%= link_to "New recipe", new_recipe_path %>
</div>
