<% content_for :header do %>
  <%= render partial: "/layouts/header" %>
<% end%>
<% content_for :content do %>
  <section class="contact-section section_padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div>
            <%= link_to "Back to recipes", recipes_path %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2 class="contact-title">Create a new recipe</h2>
        </div>
        <div class="col-lg-8 posts-list">
          <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
          <% end %>
          <%= render "form", recipe: @recipe %>
        </div>
        <div class="col-lg-4">
          <div class="blog_right_sidebar">
            <aside class="single_sidebar_widget search_widget">
              <form action="#">
                <div class="form-group">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder='Search Keyword'
                                 onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                    <div class="input-group-append">
                      <button class="btn" type="button"><i class="ti-search"></i></button>
                    </div>
                  </div>
                </div>
                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                           type="submit">Search</button>
              </form>
            </aside>
            <aside class="single_sidebar_widget instagram_feeds">
              <h4 class="widget_title">Instagram Feeds</h4>
              <ul class="instagram_row flex-wrap">
                <li>
                  <a href="#">
                    <img class="img-fluid" src="/img/post/post_5.png" alt="">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img class="img-fluid" src="/img/post/post_6.png" alt="">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img class="img-fluid" src="/img/post/post_7.png" alt="">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img class="img-fluid" src="/img/post/post_8.png" alt="">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img class="img-fluid" src="/img/post/post_9.png" alt="">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img class="img-fluid" src="/img/post/post_10.png" alt="">
                  </a>
                </li>
              </ul>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </section>
<%end%>
