 <nav>
  <ul id="navigation">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Recipes', public_recipes_path %></li>
    <% if current_user %>
      <li><%= link_to 'My recipes', recipes_path %></li>
      <li><%= link_to 'Foods', foods_path %></li>
      <li><%= link_to 'Add recipe', new_recipe_path %></li>
      <li><%= button_to "logout", destroy_user_session_path, method: :delete  %></li>
    <% else %>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
      <li><%= link_to "Sign in", new_user_session_path %></li>
    <% end %>
  </ul>
</nav>
